.git
.svn
.idea
*.code-workspace
node_modules
nbproject

# jpgorganizer special files
github-badge-cache-buster.sh
leo*.*
*.bat
box.xls
p*.html
save_*.*
apitestscript/
apitestscript/*.*
.vscode/
.vscode/*.*

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt