.git
.idea
node_modules/
nbproject/
.vs*/
*.code-workspace
Thumbs.db
gulpfile.js

test/
travis/
.travis.yml
appveyor.yml
.travis.yaml
appveyor.yaml

.eslintrc.json
.eslintrc.js

# jpgorganizer special files
github-badge-cache-buster.sh
leo*.*
*.bat
box.xls
p*.html
save_*.*
apitestscript/
apitestscript/*.*
.vscode/
.vscode/*.*

# npm package files
iobroker.*.tgz
package-lock.json

# i18n intermediate files
admin/i18n

# maintenance scripts
maintenance/**